@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: auto;
    width: 70%;
    border: 2px solid rgb(44, 43, 43);
    border-radius: 4px;
    margin-top: 20px;
}

.nav {
    border-bottom: 1px solid rgb(141, 137, 137);
    padding: 10px;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline-block;
    margin: 0 .5rem;
}

.nav ul li a {
    font-size: 16px;
    font-weight: 300;
}

.profil {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-height: 330px;
    border-bottom: 1px solid rgb(141, 137, 137);
    text-align: center;
}

.profil .photo {
    width: 20%;
}

.profil .photo img {
    border: 1px solid rgb(141, 137, 137);
    border-radius: 100%;
    width: 100%;
    height: 100%;
    transform: scale(1);
    cursor: pointer;
    transition: all .7s ease-in-out;
}

.profil .photo:hover img {
    transform: scale(1.1);
    object-fit: cover;
}

.about h1 {
    color: rgb(44, 43, 43);
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}

.about span {
    font-size: 16px;
    font-weight: 300;
    color: rgb(141, 137, 137);
}

.overview {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: rgb(44, 43, 43);
    padding: 20px 0;
}

.overview h4 {
    font-size: 22px;
    font-weight: 500;
    color: rgb(44, 43, 43);
    margin-bottom: 10px;
}

.skill-experience {
    margin: auto;
    width: 70%;
    border: 1px solid rgb(141, 137, 137);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.skill,
.experience {
    border: 1px solid rgb(141, 137, 137);
    width: 50%;
    padding: 10px;
    height: 100%;
}

.title {
    border-bottom: 1px solid rgb(141, 137, 137);
    width: 100%;
    height: 20px;
}

.title h5 {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 10px;
}

.skill-experience ul li {
    list-style: none;
    display: block;
    margin: 3px 0;
    font-weight: 300;
}

footer {
    text-align: center;
    padding: 20px 0;
    font-weight: 300;
    border-top: 1px solid rgb(141, 137, 137);
}