.container {
    width: 80%;
    min-height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-size: 18px;
    border: 1px solid grey;
    color: rgb(12, 9, 9);
    width: 100%;
    text-align: center;
    background-color: rgb(247, 190, 86);
}

.main {
    border: 1px solid grey;
    display: flex;
    width: 100%;
}

.image {
    width: 400px;
    height: 300px;
    border: 1px solid grey;
    padding: 5px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-1 {
    width: 300px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    font-size: 18px;
    justify-content: center;
}

p {
    margin-left: 5px;

}

.product-name,
.price {
    background-color: rgb(56, 196, 56);
    border: 1px solid grey;
    height: 15%;
}


.content-1 .feature {
    height: 70%;
    line-height: 120px;
    border: 1px solid grey;
    background-color: rgb(56, 196, 56);
}

.content-2 {
    width: 100%;
    min-width: 120px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    font-size: 18px;
    justify-content: center;
}

.content-2 .product-name,
.content-2 .price {
    background-color: rgb(236, 80, 231);
}

.content-2 .list-feature {
    height: 70%;
    background-color: rgb(236, 80, 231);
    border: 1px solid grey;
}